<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc." />
    
    <!-- Light/dark mode -->
    <script src="{% static 'js/dropdown_mode.js' %}"></script>
    
    
    <!-- Fonts and icons -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    
    <!-- Libs CSS -->
    <link rel="stylesheet" src="{% static 'css/libs.bundle.css' %}" />
    
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/theme.bundle.css' %}" />
    
    <!-- Title -->
    <title>REANA</title>
  </head>

  <body>
    <!-- Sidenav -->
    <!-- Sidenav (sm) -->
    <aside class="aside aside-sm d-xl-flex">
      <nav class="navbar navbar-expand-xl navbar-vertical">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="sidenavSmallCollapse">
            <!-- Nav -->
            <nav class="navbar-nav nav-pills h-100">
              <div class="nav-item">
                <div data-bs-toggle="tooltip" data-bs-placement="right" data-bs-trigger="hover" data-bs-title="Color mode">
                  <a
                    class="nav-link"
                    data-bs-toggle="collapse"
                    data-bs-theme-switcher
                    href="#colorModeOptions"
                    role="button"
                    aria-expanded="false"
                    aria-controls="colorModeOptions"
                  >
                    <span class="material-symbols-outlined mx-auto"> </span>
                  </a>
                </div>
                <div class="collapse" id="colorModeOptions">
                  <div class="border-top border-bottom py-2">
                    <a
                      class="nav-link fs-sm"
                      data-bs-toggle="tooltip"
                      data-bs-placement="right"
                      data-bs-trigger="hover"
                      data-bs-title="Light"
                      data-bs-theme-value="light"
                      href="#"
                      role="button"
                    >
                      <span class="material-symbols-outlined mx-auto"> light_mode </span>
                    </a>
                    <a
                      class="nav-link fs-sm"
                      data-bs-toggle="tooltip"
                      data-bs-placement="right"
                      data-bs-trigger="hover"
                      data-bs-title="Dark"
                      data-bs-theme-value="dark"
                      href="#"
                      role="button"
                    >
                      <span class="material-symbols-outlined mx-auto"> dark_mode </span>
                    </a>
                    <a
                      class="nav-link fs-sm"
                      data-bs-toggle="tooltip"
                      data-bs-placement="right"
                      data-bs-trigger="hover"
                      data-bs-title="Auto"
                      data-bs-theme-value="auto"
                      href="#"
                      role="button"
                    >
                      <span class="material-symbols-outlined mx-auto"> contrast </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-toggle="hover" data-bs-title="Go to the root page">
                <a class="nav-link" href="#" >
                  <span class="material-symbols-outlined mx-auto"> local_mall </span>
                </a>
              </div>
              <div class="nav-item mt-auto" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-toggle="hover" data-bs-title="Contact us">
                <a class="nav-link" href="#" target="_blank">
                  <span class="material-symbols-outlined mx-auto"> support </span>
                </a>
              </div>
            </nav>
          </div>
        </div>
      </nav>
    </aside>
    
    {% include '_messages.html' %}
    {% include '_sidebar.html' %}

    {% block content %}{% endblock %}
    
    <!-- JAVASCRIPT -->
    <!-- Map JS -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <!-- Vendor JS -->
    <script src="{% static 'js/vendor.bundle.js' %}"></script>
    <!-- Theme JS -->
    <script src="{% static 'js/theme.bundle.js' %}"></script>
  </body>
</html>
